<ion-slides pager="true" #slides>
  <ion-slide class="step-one">
    <h1>Explore the Demo</h1>
    <p>
      The Ionic Master Course demo app explores the possibilites in Ionic
    </p>
    <ion-button color="dark" (click)="next()">Next</ion-button>
  </ion-slide>

  <ion-slide class="step-two">

    <h1>Watch the Videos</h1>
    <p>
      Each feature and concept is backed by a video tutorial and source code
    </p>
    <ion-button color="dark" (click)="next()">Next</ion-button>
  </ion-slide>

  <ion-slide class="step-three">

    <h1>Deploy your Own</h1>
    <p>
      Build and deploy your own app to the web, Apple App Store, and Google Play
    </p>
    <ion-button routerLink="/home" (click)="finish()">Sound Awesome!</ion-button>
  </ion-slide>
</ion-slides>
