<ion-app>
  
  <ion-menu side= "start" type="push" #sidemenu>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-item routerLink="/" (click)="sidemenu.close()">
          <ion-label>Home</ion-label>
        </ion-item>
        <ion-item routerLink="/tutorial" (click)="sidemenu.close()">
          <ion-label>Intro Tutorials</ion-label>
        </ion-item>
        <ion-item routerLink="/todo" (click)="sidemenu.close()">
          <ion-label>Todo List</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
